{% extends "_base.html" %}
{% block content %}
<h1>Edit Meeting</h1>

{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

<form action="/meetings/{{ meeting.id }}/edit" method="post" class="main-form">
    <label class="full-width-label">
        Meeting Title:
        <input type="text" name="meeting_title" required 
               value="{{ meeting.meeting_title }}">
    </label>
    <br><br>

    <label class="full-width-label">
        Date:
        <input type="date" name="meeting_date" required 
               value="{{ meeting.meeting_date }}">
    </label>
    <br><br>

    <label class="full-width-label">
        Location:
        <input type="text" name="meeting_location" 
               value="{{ meeting.meeting_location }}">
    </label>
    <br><br>

    <button type="submit" class="primary-button-large">Update Meeting</button>
    <a href="/meetings/{{ meeting.id }}" class="cancel-link">Cancel</a>
</form>
{% endblock %}