{% extends "_base.html" %}
{% block content %}
{% if reports %}
    <ul>
    {% for item in reports %}
        <li>
            <a href="/reports/{{ item.r.id }}" style="font-weight: bold; font-size: 1.1em; text-decoration: none;">
                {{ item.r.report_title }}
            </a>
            <br>
            <span class="meta">
                by <a href="/profile/{{ item.user.username }}">{{ item.user.display_name if item.user else "Unknown" }}</a> 
                | {{ item.r.created_at.strftime('%Y-%m-%d') }}
                {% if item.meeting %} | Meeting: {{ item.meeting.meeting_title }}{% endif %}
            </span>
            <br>
            {% if item.paper %}
                📄 Paper: {{ item.paper.paper_title }}
            {% endif %}
            <div style="margin-top: 5px;">
                {% for tag in item.tags %}
                    <a href="/tags/{{ tag.id }}" 
                       class="tag-style"> #{{ tag.name }}
                    </a>
                {% endfor %}
            </div>
        </li>
        <br>
    {% endfor %}
    </ul>
{% else %}
{% endif %}
{% endblock %}