{% extends "_base.html" %}

{% block content %}
<h1>Reports tagged with "{{ tag }}"</h1>

{% if reports %}
<ul>
  {% for item in reports %}
  <li class="report">
    <a href="/reports/{{ item.r.id }}">{{ item.r.report_title }}</a>
    <div>{{ item.r.report_summary }}</div>
    <div>
      by {{ item.user.display_name if item.user else "Unknown" }}
      — {{ item.r.created_at }}
    </div>
    
<div>
  {% if item.r.paper %}
    Paper: {{ item.r.paper.paper_title }}
    Authors:
    {% for author in item.r.paper.authors %}
      {{ author.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
</div>

    
  </li>
  {% endfor %}
</ul>
{% else %}
  <p>No reports found for this tag.</p>
{% endif %}

<a href="/">Back to home</a>
{% endblock %}
